.prodBg {
  position: absolute;
  top: -12rem;
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prodLogo {
  max-width: 350px;
}

.prodNumber { 
  max-width: 300px;
}

@include media("<345px") {
  .prodLogo {
      max-width: 300px;
  }
}  

@include media(">399px") {
  .prodBg {
      top: -14rem;
  }
}

@include media(">800px") {
  .prodBg {
      flex-direction: row;
      justify-content: space-around;
      max-width: 1150px;
  }
    
    .prodLogo {
      max-width: 400px;
    }
}

@include media(">1439px") {
  .prodBg {
      justify-content: space-between;
    }
  .prodLogo {
      max-width: 450px;
  }
  .prodNumber {
      max-width: 350px;
  }
}