#body > div.header-container.sticky-header,
#product-images-container
  > div.main-image-container
  > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
  > div,
#product-images-container
  > div.slider-nav.slick-initialized.slick-slider
  > div
  > div
  > div.slick-slide.slick-active.last
  > div,
#product-images-container
  > div.main-image-container
  > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
  > div
  > div
  > div.slick-slide.slick-current.slick-active
  > div
  > li,
#carousel-active > div > ul > section > div > div,
#carousel-active > div > ul > section > div > div > li,
#product-images-container
  > div.slider-nav.slick-initialized.slick-slider
  > div
  > div
  > div.slick-slide.slick-current.slick-active
  > div {
  background: white !important;
}

#product-page-no-sidenav
  > div.productView.thumbnail-unclicked.qty-box-visible
  > article
  > ul
  > li.tab.warranty,
#body
  > div.body.content
  > div
  > div.recommended-visibility
  > div.product.main.left.no-sidenav
  > div
  > div
  > div.similar-products-by-views
  > h2,
#carousel-active > div > h2 {
  background: $primaryRed !important;
  border-bottom: 3px solid $bottomBorder !important;
}

#product-page-no-sidenav
  > div.productView.thumbnail-unclicked.qty-box-visible
  > article
  > ul
  > li.tab.overview {
  background: $primaryRed !important;
}

#form-action-addToCart {
  background: $primaryRed !important;
  border-bottom: 3px solid $bottomBorder !important;
  border-radius: 1rem !important;
  width: 12.5rem !important;
  margin: 0 auto !important;
}

.centerButton {
  display: flex;
  justify-content: center;
}

//(320px - 424px)
@include media("<lgphone") {
  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div.slick-slide.slick-current.slick-active
    > div
    > li
    > figure
    > img {
    width: 300px !important;
  }

  #product-images-container > div.main-image-container,
  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready,
  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div.slick-slide.slick-current.slick-active,
  #product-images-container
    > div.slider-nav.slick-initialized.slick-slider
    > div
    > div
    > div
    > div {
    background: transparent !important;
  }

  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div
    > div
    > li
    > figure
    > img {
    margin-top: 4rem !important;
  }

  #product-images-container > div.slider-nav.slick-initialized.slick-slider {
    display: flex !important;
    justify-content: center !important;
  }

  .padTopProduct {
    padding-top: 3em !important;
  }

  #product-page-no-sidenav
    > div.productView.thumbnail-unclicked.qty-box-visible {
    margin-top: -12em !important;
  }

  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div.slick-slide.slick-current.slick-active
    > div
    > li
    > figure
    > img {
    position: relative !important;
    right: 1.8rem !important;
  }

  #carousel-active
    > ul
    > section
    > div
    > div
    > li
    > article
    > div
    > div.card-text
    > div.card-text.add-to-cart-button {
    width: 11em !important;
  }

  #tab-description > table {
    width: 19.5rem !important;
    font-size: 0.5rem;
  }

  td {
    padding: 0.5rem;
  }

  a.button {
    min-width: 132.14px !important;
  }

  #add-to-cart-wrapper > div.form-field.form-field--increments {
    position: relative !important;
    left: 4rem !important;
  }

  #carousel-active
    > div
    > ul
    > section
    > div
    > div
    > li.productCarousel-slide.product.slick-slide.slick-current,
  #carousel-active > div > ul > section > div > div,
  #carousel-active > div > ul > section > div > div > li {
    background: white !important;
  }

  #body > footer > div.container > section {
    margin-top: 20rem !important;
  }
}

//(425px - 767px)
@include media(">=lgphone", "<tablet") {
  #body {
    margin-top: 3rem !important;
  }

  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div {
    margin-top: -4rem !important;
  }

  // #body > div.header-container.sticky-header > div.bg > a:nth-child(1) > img {
  //   margin-left: 1rem;
  // }

  #body > div.header-container.sticky-header > div.bg > a:nth-child(1) > img {
    margin-top: 1.5rem;
    width: 25.125rem !important;
  }

  #product-images-container > div.main-image-container {
    background: white !important;
  }

  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div
    > div
    > li
    > figure
    > img {
    margin-left: -2rem !important;
  }

  #product-images-container
    > div.main-image-container
    > div.productImageSlider.slider-for.slick-initialized.slick-slider.ready
    > div
    > div
    > div.slick-slide.slick-current.slick-active {
    background: white !important;
  }

  #product-images-container
    > div.slider-nav.slick-initialized.slick-slider
    > div
    > div
    > div.slick-slide.slick-current.slick-active
    > div,
  #product-images-container
    > div.slider-nav.slick-initialized.slick-slider
    > div
    > div
    > div.slick-slide.slick-active.last
    > div,
  #product-images-container
    > div.slider-nav.slick-initialized.slick-slider
    > div
    > div
    > div
    > div {
    background: white !important;
  }

  #carousel-active > div > ul > section > div {
    background: white !important;
  }

  #carousel-active > div > ul > section > div > div > li {
    background: white !important;
  }

  #tab-description > table {
    width: 80vw !important;
  }

  td {
    padding: 0.5rem;
  }

  #carousel-active > div > ul > section > div > div > li {
    border: 45px solid white;
  }

  #carousel-active
    > div
    > ul
    > section
    > div
    > div
    > li:nth-child(2)
    > article
    > div
    > div.card-text
    > div.card-text.add-to-cart-button
    > a {
    width: 10rem !important;
  }

  #body > div.header-container.sticky-header {
    background: white !important;
  }

  #carousel-active > div > ul > section > ul {
    background: white !important;
  }

  #carousel-active > div > ul > section > div > div {
    background: white !important;
  }
}

// 768 - 800
@include media(">=tablet", "<navfix") {
  // #body > div.header-container.sticky-header > div.bg > a:nth-child(1) > img {
  //   width: 24rem !important;
  //   position: relative !important;
  //   top: 3rem;
  // }

  #body > div.header-container.sticky-header > div.bg > a:nth-child(2) > img {
    position: relative !important;
    top: 4.9rem;
  }

  #product-page-no-sidenav {
    margin-top: -5rem;
  }

  #carousel-active > div > ul > section {
    padding-bottom: 5rem;
  }

  #carousel-active > div > ul > section > div > div > li,
  #carousel-active > ul > section > div > div > li {
    height: 27.875rem;
    padding-bottom: 1rem;
  }
}

//801 - 1365
@include media(">=navfix", "<desktop") {
  .slick-slide {
    height: 30.875rem !important;
  }

  .slick-slide:hover {
    border: none !important;
  }

  #tab-description > table {
    width: 95% !important;
  }
}


@include media("<425px") {
  #body
    > div.header-container.sticky-header
    > div.header-container.full-width.full-width.in-container {
    margin-top: 5.9rem !important;
  }
}

// One option product

// Two option product
@include media(">426px", "<800px") {
  #product-page-no-sidenav
    > div.productView.thumbnail-unclicked.qty-box-visible
    > section
    > div
    > section
    > div.productView-options
    > form
    > div:nth-child(3)
    > div:nth-child(2) {
    width: 100vw !important;
    position: relative;
    right: 1rem !important;
  }
}

#product-images-container
  > div.slider-nav.slick-initialized.slick-slider
  > div
  > div
  > div
  > div {
  background: white !important;
}

// Three option product
