// PASTE CUSTOM STYLING HERE
$primaryRed: #b1130c;
$commonLight: #cac9c9;
$bottomBorder: #808080;
$redBorder: "1px solid red";

@import "./homePage";
@import "./cards";
@import "./navigation";
@import "./productPage";
@import "./categoryPage";
@import "./cart";
@import "./side_navigation";
@import "./carousel";
@import "./header";


#body > div.body.content > div.container.main,
#body > div.header-container.sticky-header,
#body
  > div.header-container.sticky-header
  > div.header-container.full-width.full-width.in-container
  > div
  > div
  > header,
#body {
  background: white;
}

.bg {
  visibility: hidden;
}